@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Syncopate:wght@400;700&display=swap');

@font-face {
    font-family: 'Departure Mono';
    src: url('../fonts/DepartureMono-Regular.woff2') format('woff2'),
        url('../fonts/DepartureMono-Regular.woff') format('woff');
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}